.board {
  background-color: red;
}

#matches input {
  width: 1.5rem;
}
#matches {
  justify-content: center;
}

.fixtures input {
  display: inline;
}
.fixture {
  border: 2px solid red;
  background-color: blue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
